explicacion_servicio.txt
/chatbotclint 25 de marzo
MODULO_CHATSERVIDOR_V3

error.txt
.vscode/launch.json
a exlcluir/ejecucion servidor.txt
a exlcluir/AGENTS1.md
servidor-fc/server/newrelic_agent.log
documentacion-testing-seguridad-auditoria.txt
cliente-fc/client.rar
servidor-fc/server.rar
servidor-fc/server/newrelic_agent.log
